@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #17141d;
  color: white;
  font-family: "Roboto", sans-serif;
}

.full-site {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-area {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
